@model IEnumerable<Models.Transaction.TransactionListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Store.StoreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryStreet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryZip)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Store.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryStreet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryZip)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TransactionId }) |
                @Html.ActionLink("Details", "Details", new { id = item.TransactionId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TransactionId })
            </td>
        </tr>
    }

</table>
