@model Models.Store.StoreDelete

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StoreDelete</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreStreet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreStreet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StorePhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StorePhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
