@model Models.Store.StoreDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StoreDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreStreet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreStreet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StorePhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StorePhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StoreId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
